[project]
name = "cs35lproject"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "firebase-admin>=7.1.0",
    "requests>=2.32.5",
]
