#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222; 
  overflow: hidden;
}

.app-frame {
  /* Fixed iPhone 13/14 Dimensions */
  width: 390px;
  height: 844px;

  background-color: white;
  border: solid black 1px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);

  transform-origin: center center;
  transition: transform 0.1s ease-out;
}

/* Debugger Styling */
.debugger-wrapper {
  /* Positioning */
  position: absolute;
  bottom: 32px;
  right: 16px;
  z-index: 999;

  /* Appearance */
  background-color: black;
  padding: 16px;
  border-width: 1px;
  border-color: white;
  border-radius: 8px;
  border: solid white 1px;

  /* Content */
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
}
.debugger-header {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
.debugger-category-header {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
  border-bottom: 1px solid white;
}
.debugger-link {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}
.debugger-link-active {
  animation: oscillate 0.75s ease-in-out infinite alternate;
}
.debugger-button {
  /* Appearance */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  background-color: #375699;
  min-width: 64px;

  /* Content */
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;

  /* Interaction */
  cursor: pointer;
  transition: border-color 0.25s;
}
.debugger-button-selected {
  background-color: white;
  color: black;
}
.debugger-button:hover {
  border-color: #5385f2;
}
.debugger-button:focus,
.debugger-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Oscillation Animation for a selected text because I'm bored -Gavin */
@keyframes oscillate {
  0% { transform: translateX(8px); }
  100% { transform: translateX(0px); }
}