#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Debugger Styling */
.debugger-wrapper {
  /* Positioning */
  position: absolute;
  bottom: 32px;
  right: 16px;
  z-index: 999;

  /* Appearance */
  background-color: black;
  padding: 16px;
  border-width: 1px;
  border-color: white;
  border-radius: 8px;

  /* Content Layout */
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
}
.debugger-header {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.debugger-category-header {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  border-bottom: 1px solid white;
}
.debugger-link {
  color: white;
  font-size: 16px;
  font-weight: lighter;
}