#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222; 
  overflow: hidden;
}

/* APP FRAME AND LAYOUT */
.app-frame {
  /* Fixed iPhone 13/14 Dimensions */
  width: 390px;
  height: 844px;

  background-color: white;
  border: solid black 1px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);

  transform-origin: center center;
  transition: transform 0.1s ease-out;
}
.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.mobile-header {
  flex-shrink: 0;
  height: 44px; /* Standard iOS Nav height */
  background-color: #292929;
  border-bottom: 1px solid #727272;
  z-index: 10;
}
.mobile-content {
  position: relative;
  flex: 1;
  overflow-y: hidden;
}
.mobile-footer {
  flex-shrink: 0;
  height: 49px; /* Standard iOS Tab height */
  background-color: #292929;
  border-top: 1px solid #727272;
  z-index: 10;
}

/* DEBUGGER */
.debugger-wrapper {
  /* Positioning */
  position: absolute;
  bottom: 32px;
  right: 16px;
  z-index: 999;

  /* Appearance */
  background-color: black;
  padding: 16px;
  border-width: 1px;
  border-color: white;
  border-radius: 8px;
  border: solid white 1px;

  /* Content */
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
}
.debugger-header {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
.debugger-category-header {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
  border-bottom: 1px solid white;
}
.debugger-link {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}
.debugger-link-active {
  animation: oscillate 0.75s ease-in-out infinite alternate;
}
.debugger-button {
  /* Appearance */
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px;
  background-color: #375699;
  min-width: 64px;

  /* Content */
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;

  /* Interaction */
  cursor: pointer;
  transition: border-color 0.25s;
}
.debugger-button-selected {
  background-color: white;
  color: black;
}
.debugger-button:hover {
  border-color: #5385f2;
}
.debugger-button:focus,
.debugger-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* Oscillation Animation for a selected text because I'm bored -Gavin */
@keyframes oscillate {
  0% { transform: translateX(8px); }
  100% { transform: translateX(0px); }
}

/* DASHBOARD */
.dashboard-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.dashboard-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #9EA1B9;
}
.dashboard-header-left-half {
  display: flex;
  flex-direction: column;
}
.dashboard-header-right-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}
.dashboard-header h1 {
  max-width: 192px;
  overflow-wrap: break-word;
  line-height: 0.9;

  margin: 0;
  font-size: 28px;
}
.dashboard-header h2 {
  margin: -4px 0 0 0;
  font-size: 20px;
  color: #83889C;
  font-weight: 500;
}
.dashboard-chips {
  margin-top: 12px;

  display: flex;
  gap: 16px;
  align-items: center;
}

/* CHIP ATOM */
.chip-medium {
  display: inline-block;
  padding: 4px 16px;
  background-color: #eee;
  border-radius: 16px;
  font-size: 16px;
  color: #333;
}
.chip-small {
  display: inline-block;
  padding: 0 8px;
  background-color: #eee;
  border-radius: 16px;
  font-size: 14px;
  color: #333;
}
.venue-data {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.fill-bar-horizontal-wrapper {
  position: relative;
  background-color: #eee;
  border-radius: 12px;

  flex-shrink: 0;

  display: flex;
}
.fill-bar-back {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}
.fill-bar-horizontal {
  height: 100%;
  /* Width is handled in inline styles at the component level */
}
.fill-bar-horizontal-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.fill-bar-vertical-wrapper {
  position: relative;
  background-color: #eee;
  border-radius: 12px;

  flex-shrink: 0;
}
.fill-bar-vertical {
  width: 100%;
  /* Height is handled in inline styles at the component level */
}
.fill-bar-vertical-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #333;
  z-index: 1;
}

.aggregate-display, .occupancy-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.search-bar {
  height: 32px;

  border: solid 1px #83889C;
  border-radius: 32px;

  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  background-color: #FFF;
}
.search-bar-input {
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  flex: 1;
}
.search-bar-input:focus {
  outline: none;
}
.search-bar-icons {
  display: flex;
  gap: 8px;
}

.dashboard-content {
  padding: 16px 8px 16px 16px; /* Reduced right padding to account for scrollbar gutter */
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: transparent;
}
.item-card {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #9EA1B9;
}
.item-card-image {
  width: 108px;
  height: auto;
  min-height: 108px;
  background-color: #eee;
  object-fit: cover;
  border-left: solid 1px #9EA1B9;
}
.item-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
}
.item-card-top-region {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.item-card-top-region h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.item-card-bottom-region {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.item-card-tags {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2px;
}
.ucladining-icon-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.ucladining-icon-label {
  font-size: 16px;
  color: #333;
}

/* DRAWER OVERLAY*/
.drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 50;

  /* Initially hidden, fade in when open */
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}
.drawer-overlay.open {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;

  transition: background-color 0.3s ease-in-out, visibility 0s linear 0s;
}

/* DASHBOARD VENUE DETAILS DRAWER */
.venue-drawer-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;

  background-color: white;
  box-shadow: -5px 0 15px rgba(0,0,0,0.2);
  border-left: solid 1px #9EA1B9;
  
  /* Slide in from the right */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.drawer-overlay.open .venue-drawer-content {
  /* Slide in the drawer content when the overlay is open */
  transform: translateX(0);
}

/* Drawer Item */
.venue-details-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: solid 1px #9EA1B9;
}
.venue-details-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.venue-details-section-header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #83889C;
}
.venue-details-section-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.1s ease-out;
}
.venue-details-section-content-wrapper.open {
  grid-template-rows: 1fr;
}
.venue-details-section-content-inner {
  overflow: hidden;
}

/* DASHBOARD DRAWER - VENUE PICKER */
.venue-picker {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.venue-item {
  min-height: 48px;

  display: flex;
  padding: 0;
  align-items: stretch;
  gap: 8px;

  color:#211DA1;
  background-color: #DBE3FF;

  position: relative; 
  overflow: hidden;
}
.venue-item.favorite {
  color: #9CA11D;
  background-color: #FAFFDB;
}
.venue-image-wrapper {
  position: relative;
  width: 48px;
  min-width: 48px;
  /* Height comes from the parent's align-items: stretch */
}
.venue-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.venue-item h4 {
  flex: 1;
  margin: 0;

  align-self: center;

  font-size: 16px;
  font-weight: 500;
}
.venue-item-closed,
.venue-item-data {
  display: flex;
  gap: 4px;
  margin-right: 8px;

  align-self: center;

  font-size: 16px;
  font-weight: 500;
}

/* DASHBOARD DRAWER - CURRENT VENUE DETAILS */
.current-venue-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.favorite-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: #C0BC88;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 18px;
}
.favorite-button img {
  width: 24px;
  height: 24px;
}
.location-and-phone {
  border-radius: 8px;
  background-color: #E9EBF9;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 300;
}
.notices,
.about {
  background-color: #FFEEBF;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: 300;
}
.notices h4,
.about h4 {
  margin: 0;
  font-size: 16px;
}
.about {
  background-color: #E3E2E1;
}
.statuses h4,
.service-hours h4 {
  margin: 0;
  font-size: 16px;
}
.statuses table,
.service-hours table {
  width: 100%;
  border-collapse: collapse;
}
.statuses td,
.service-hours td {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.statuses td:nth-child(2),
.service-hours td:nth-child(2) {
  text-align: end;
}

/* DASHBOARD SEARCH DRAWER */
.search-drawer-content {
  --padding: 16px;

  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--padding) * 2);
  background-color: white;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
  border-bottom: solid 1px #9EA1B9;
  
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  padding: var(--padding);

  /* Slide in from the top */
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.drawer-overlay.open .search-drawer-content {
  /* Slide in the drawer content when the overlay is open */
  transform: translateY(0);
}
.search-drawer-content h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.search-drawer-content h3 {
  margin: 0;
  font-size: 16px;
  color: #83889C;
  font-weight: 400;
}
.search-drawer-content h4 {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.search-drawer-content h5 {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.search-sort-section {
  display: flex;
  gap: 8px;
  align-items: center;
}
.search-sort-header {
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #F6F0E9;

  padding: 2px 4px;
  font-size: 16px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  transition: border-color 0.2s ease;
  user-select: none;
}
.search-sort-header.focused {
  border: 2px solid #9EA1B9;
}
.search-sort-dropdown {
  position: absolute;
  margin-top: 4px;
  margin-bottom: 0;
  padding: 4px 0;
  list-style: none;
  
  background-color: #F6F0E9;
  border: 2px solid #9EA1B9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  z-index: 100;
}
.search-sort-dropdown:focus {
  appearance: none;
  outline: 2px solid #9EA1B9;
}
.search-sort-dropdown-item {
  padding: 6px 8px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #333;
  transition: background-color 0.1s;
  white-space: nowrap;
}

.search-sort-dropdown-item:hover {
  background-color: #DBE3FF;
}

.search-sort-dropdown-item.selected {
  font-weight: bold;
  color: #211DA1;
}

.search-filter-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.search-filter-content {
  background-color: #F6F0E9;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
}
.filter-tags {
  display: flex;
  flex-direction: column;
}
.filter-tags table {
  width: 100%;
  border-collapse: collapse;
}
.filter-tag-item {
  cursor: pointer;
  user-select: none;
}
.filter-tag-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 4px;

  border: 1px solid #83889C;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.filter-tag-checkbox-inner {
  width: 12px;
  height: 12px;
  background-color: #9EA1B9;
  visibility: hidden;
}
.filter-tag-checkbox-inner.filled {
  visibility: visible;
}

/* SLIDER ATOM */
.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.slider-main {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}
.slider-track-bg {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #9EA1B9;
  border-radius: 5px;
  z-index: 1;
}
.slider-track-active {
  position: absolute;
  height: 5px;
  background-color: #6B6DA1;
  border-radius: 5px;
  z-index: 2;
}
.slider-input {
  position: absolute;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
  z-index: 3;
  margin: 0; 
}
.slider-input:focus {
  outline: none;
}
.slider-input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  pointer-events: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #DBE3FF;
  border: 5px solid #6B6DA1;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.slider-input::-moz-range-thumb {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #DBE3FF;
  border: 5px solid #6B6DA1;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.slider-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/* DASHBOARD ITEM DETAILS DRAWER */
.item-drawer-content {
  --padding: 16px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(85% - var(--padding) * 2);
  height: calc(100% - var(--padding) * 2);
  background-color: white;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
  border-right: solid 1px #9EA1B9;

  display: flex;
  flex-direction: column;
  gap: var(--padding);
  padding: var(--padding);

  /* Slide in from the left */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
.drawer-overlay.open .item-drawer-content {
  /* Slide in the drawer content when the overlay is open */
  transform: translateX(0);
}
.item-drawer-content h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.item-drawer-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.item-drawer-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.overall-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}
.rating-value {
  font-size: 18px;
  font-weight: 500;
  color: #60BF3E;
}
.rating-modal-inner {
  width: 320px;
  background-color: #F6F0E9;
  border: solid 2px #9EA1B9;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rating-modal-inner h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.rating-guide {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #83889C;
}
.rating-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* MODAL ATOM */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}
.modal-content {
  background-color: transparent;
  padding: 0;
  max-width: 90%;
  max-height: 80%;
  /* Handle rest of styling manually in child components */
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: white;
  border: solid 2px #9EA1B9;
  padding: 12px;
}
.modal-overlay:has(.reviews-section) {
  /* Override center styling so clicking on the position of the pagination doesn't vary due to modal height */
  align-items: flex-start;
  padding-top: 92px;
}
.reviews-pagination {
  background-color: #505E82;
  color: #E0E0E0;

  display: flex;
  justify-content: center;
  gap: 8px;
}
.reviews-list {
  max-height: 520px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}
.review-card {
  background-color: #E7E6FF;
  border-radius: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.your-review-card {
  border: 2px dashed #9EA1B9;
  border-radius: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  cursor: pointer;
}
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-rating {
  color: #60BF3E;
  font-size: 16px;
  font-weight: 800;
}
.review-text {
  font-size: 16px;
  color: #333;
  margin: 0;
}
.user-review-modal-inner {
  width: 320px;
  background-color: #F6F0E9;
  border: solid 2px #9EA1B9;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.user-review-modal-inner h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}